<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"  
	xmlns:tx="http://www.springframework.org/schema/tx"  
	xmlns:aop="http://www.springframework.org/schema/aop"  
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context.xsd
	http://www.springframework.org/schema/mvc 
	http://www.springframework.org/schema/mvc/spring-mvc.xsd 
	http://www.springframework.org/schema/tx
	http://www.springframework.org/schema/tx/spring-tx.xsd
	http://www.springframework.org/schema/aop
	http://www.springframework.org/schema/aop/spring-aop.xsd">


    <!-- 配置静态资源处理器 -->
    <mvc:resources location="/easyui/" mapping="/easyui/**"/>

	<!-- 配置视图解析器:InternalResourceViewResolver -->
	<bean id="jspViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<!-- 提供jstl的支持(实验证明，不指定也可以,当然一般都指定) -->
		<property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
		<property name="prefix" value="/WEB-INF/jsp/"/>
		<property name="suffix" value=".jsp"/>
	</bean>
	
	<!--  配置视图解析器:XmlViewResolver
	  	  1.XmlViewResolver的默认配置文件位于/WEB-INF/views.xml下。
	  	    即使通过location指定位置,位置也应该放在/WEB-INF下。参考javadoc。
	  	  2.order值越小,越先尝试解析(优先级高);
	  -->
	<bean class="org.springframework.web.servlet.view.XmlViewResolver">
		<property name="order" value="0"/>
	</bean>
	

 	<!-- 配置拦截器 -->
	<mvc:interceptors>
	    <!-- 配置全局拦截器 -->
	    <bean class="com.univ.interceptor.DebugInterceptor"></bean>
	</mvc:interceptors>
</beans>

 